<!DOCTYPE html>
<html lang="en">
<head>
    {{!-- Bootstrap js css and google font links start --}}
      {{>headerLinks}}
    {{!-- Bootstrap js css and google font links start --}}
</head>
<body>
    {{!-- Navbar section start --}}
    {{>header}}
    {{!-- Navbar section end --}}


    {{!-- Footer start --}}
    {{>footer}}
    {{!-- Footer start --}}
</body>
</html>