<!DOCTYPE html>
<html lang="en">
  <head>
    {{!-- Bootstrap js css and google font links start --}}
      {{>headerLinks}}
    {{!-- Bootstrap js css and google font links start --}}
  </head>
  <body>

    {{!-- Navbar section start --}}
    {{>header}}
    {{!-- Navbar section end --}}


    <!-- Header section start -->
    <div class="header_hero">
      <div class="container">
        <div class="row">
          <!-- Left section -->
          <div class="col-lg-6 col-10 mx-auto">
            <div class="header_hero__text">
                
                <!-- Left side text -->
                <h2>Welcome to <span>MonkeyMusic</span></h2>
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores
                  eius quibusdam eaque enim ex! Eos molestias ad perspiciatis
                  architecto eius nam, animi veniam sint ipsam voluptatem porro
                  consequuntur debitis odit.
                </p>
                 
                <!-- Left side buttons -->
                <div class="header_text__btn">
                  <a href="#" alt="">Download our app</a>     
                  <a href="#" alt="" id="btn__2">Start free trial</a>     
                </div>
            </div>
          </div>

          <!-- Right section -->
          <div class="col-lg-6 col-10 mx-auto">
            <figure class="header_hero__img">
                <img src="images/header-hero-bg.png" alt="" class="img-fluid"/>
            </figure>
          </div>
        </div>
      </div>
    </div>

  {{!-- Footer start --}}
    {{>footer}}
  {{!-- Footer start --}}

  </body>
</html>
